<div class = "content">
  <table class="content-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Area</th>
      <th>DOB</th>
      <th>Tel.</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Alberto Benati</td>
      <td>Cake</td>
      <td>23.01.1990</td>
      <td>899999999</td>
      <td><ul>
        <li>Actions</li>
        <li>Actions</li></ul></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Alberto Benati</td>
      <td>Cake</td>
      <td>22.01.2019</td>
      <td>23.01.1990</td>
      <td>899999999</td>
      <td><ul>
        <li>Actions</li>
        <li>Actions</li></ul></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Alberto Benati</td>
      <td>Cake</td>
      <td>22.01.2019</td>
      <td>23.01.1990</td>
      <td>899999999</td>
      <td><ul>
        <li>Actions</li>
        <li>Actions</li></ul></td>
    </tr>
    </tbody>
  </table>
</div>
