<div class = "content">
  <table class="content-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>DOB</th>
      <th>Position</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users$ | async">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.DOB | date:'short'}}</td>
      <td>{{user.position}}</td>
      <td><ul>
        <li><a (click)="editUser(user)">Edit</a></li>
        <li><a (click)="deleteUser(user)">Delete</a></li></ul></td>
    </tr>

    </tbody>
  </table>
</div>
