<div class = "content">
  <div class="user-cards">
    <div class="user-card" *ngFor="let user of users$ | async">
      <div class="user-id">id: {{user.id}}</div>
      <div class="user-name">{{user.name}}</div>


      <div class="user-content">
        <div class="user-wrap">{{user.DOB | date:'dd/MM/yyyy'}}</div>
        <div class="user-wrap">{{user.position}}</div>
      </div>
      <div class="btn-wrap">
        <button class="btn" (click)="editUser(user)"><img src="../assets/images/pencil-edit-button.png" alt="" style="width: 1rem; height: 1rem"></button>
      </div>
    </div>
  </div>
</div>
