<div class="backdrop"></div>
<div class="modal">
  <form [formGroup]="addForm" (submit)="add()">
    <div class="wrapper">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div class="wrapper">
      <label for="color">Color</label>
      <input id = "color" type="color" formControlName="color">
    </div>

    <div class="wrapper">
      <label for="transition">Transition</label>
      <select id="transition" multiple="multiple" formControlName="transition">
        <option *ngFor="let rul of processes$ | async">{{rul.name}}</option>
      </select>
    </div>
    <div class="wrapper wrap-btn">
      <button class="btn" type="submit" [disabled]="addForm.invalid"><img src="../assets/images/plus-black-symbol.png" alt="" style="width: 1rem; height: 1rem"></button>
      <button class="btn" (click)="closeEvent.emit()"><img src="../assets/images/cancel-mark.png" alt="" style="width: 1rem; height: 1rem"></button>
    </div>
  </form>
</div>
