<div class="backdrop"></div>
<div class="modal">
  <div>
    <input type="text" placeholder="Name">
    <input type="text" placeholder="Assignee">
    <input type="text" placeholder="Area">
    <input type="text" placeholder="Start Date">
    <input type="text" placeholder="Due Date">
    <input type="text" placeholder="Discription">
    <input type="text" placeholder="Priority">
    <input type="text" placeholder="icon">
    <input type="text" placeholder="Status">
  </div>
  <div>
    <button class="btn">Create</button>
    <button class="btn" (click)="close.emit()">Exit</button>
  </div>
</div>
