<div class="backdrop"></div>
<div class="modal">
  <form [formGroup]="edit" (submit)="updateProcess()">
    <div class="wrapper">
      <label for="Name">Name</label>
      <input id="Name" type="text" formControlName="name" [ngClass]="{invalid: edit.get('name').touched && edit.get('name').invalid}">
    </div>

    <div class="wrapper">
      <label for="Color">Color</label>
      <input id = "Color" type="color" formControlName="color" [ngClass]="{invalid: edit.get('color').touched && edit.get('color').invalid}">
    </div>

    <div class="wrapper">
      <label for="Transition">Transition</label>
      <textarea name="text" disabled formControlName="transition"></textarea>
      <select id="Transition" multiple="multiple" formControlName="newTransition">
        <option *ngFor="let rul of processes$ | async">{{rul.name}}</option>
      </select>
    </div>
    <div class="wrapper wrap-btn">
      <button class="btn" type="submit" [disabled]="edit.invalid"><img src="../assets/images/icon.png" alt="" style="width: 1rem; height: 1rem"></button>
      <button class="btn" (click)="closeEvent.emit()"><img src="../assets/images/cancel-mark.png" alt="" style="width: 1rem; height: 1rem"></button>
    </div>
  </form>
</div>
