<div class="backdrop"></div>
<div class="modal">
  <form [formGroup]="edit" (submit)="updateProcess()">
    <div class="wrapper">
      <label for="Name">Name</label>
      <input id="Name" type="text" formControlName="name">
    </div>

    <div class="wrapper">
      <label for="Color">Color</label>
      <input id = "Color" type="color" formControlName="color">
    </div>

    <div class="wrapper">
      <label for="Transition">Transition</label>
      <textarea name="text" disabled formControlName="transition"></textarea>
      <select id="Transition" multiple="multiple" formControlName="newTransition">
        <option *ngFor="let rul of processes$ | async">{{rul.name}}</option>
      </select>
    </div>
    <div class="wrapper wrap-btn">
      <button class="btn" type="submit" [disabled]="edit.invalid">Update</button>
      <button class="btn" (click)="closeEvent.emit()">Exit</button>
    </div>
  </form>
</div>
