<div class = "content">
  <div class = "table-header">
    <input type="text" placeholder="Find" [(ngModel)]="search" >
    <button (click)="modal = true" class = "btn"><img src="../assets/images/plus-black-symbol.png" alt="" style="width: 1rem; height: 1rem"></button>
  </div>
  <div class="cards">
    <div class = "incident-card" *ngFor="let incident of incidents$ | async | searchIncident:search" (click)="selectIncident(incident.id)">
      <div class = "left-content-card">
        <div class = "svg-card">
          <svg [ngStyle]="{fill: incident.icon}" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 300.000000 300.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)"  stroke="none">
              <path stroke-width="20" class="node" id="node1" d="M1365 2384 c-107 -16 -199 -45 -275 -87 -158 -87 -277 -202 -363
                -349 -69 -117 -92 -186 -113 -332 -16 -108 -16 -124 0 -232 25 -173 63 -269
                162 -409 98 -139 271 -269 429 -323 90 -30 268 -55 345 -47 173 17 275 49 404
                125 142 84 243 189 333 345 62 109 92 213 108 375 8 77 -17 255 -47 345 -83
                243 -309 469 -553 553 -64 22 -249 53 -306 51 -19 -1 -74 -7 -124 -15z m240
                -304 c211 -34 396 -199 462 -410 24 -77 23 -275 -1 -345 -38 -106 -72 -159
                -151 -239 -112 -113 -211 -159 -364 -172 -213 -18 -396 66 -526 238 -92 122
                -129 272 -107 433 6 46 20 103 30 127 10 24 21 50 24 58 3 8 26 42 50 75 139
                188 350 273 583 235z" style="position: relative;"></path>
            </g>
          </svg>
        </div>
        <div class = status-card><div>{{incident.status}}</div></div>
      </div>
      <div class = "right-content-card">
        <div class = title-card>{{incident.name}}</div>
        <div class = "info-card">
          <div class="content-wrap">
            Assignee:
            <div class="place">{{incident.assignee}}</div>
          </div>
          <div class="content-wrap">
            Area:
            <div class="place">{{incident.area}}</div>
          </div>
          <div class="content-wrap">
            Start Date:
            <div class="place">{{incident.startDate | date: 'dd/MM/yyyy'}}</div>
          </div>
          <div class="content-wrap">
            Due Date:
            <div class="place">{{incident.dueDate | date: 'dd/MM/yyyy'}}</div>
          </div>
        </div>
      </div>
  </div>

  </div>
</div>

<app-incident-add *ngIf="modal" (closeEvent)="modal = false"></app-incident-add>

