@import "~src/styles.less";
.navbar{
    display:flex;
    position: relative;
    background: @color-balance;
    justify-content: space-between;
    align-items: center;
    max-height: 25%;
    width: 100%;
    .logo{
        margin:auto 2vh;
      width: 5vh;
      height: 5vh;
      img{
        height: 100%;
      }
    }
    ul{
        display: flex;
        position: relative;
        align-items: center;
        margin: auto 2vh;
        list-style: none;
        li{
            position: relative;
            margin: 0 1vh;
            display: block;
            a:hover{
                color:@color-light;
            }
        }
    }
}
.content-table{
  border-collapse: collapse;
  margin: 25px 0px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 0.9em;
  min-width: 400px;
  width: calc(100% - 50px);
  overflow: hidden;
  border-radius: 10px;
  thead tr{
    background-color: #b14359;
    color: aliceblue;
    text-align: left;
    font-weight: bold;
  }
  th, td{
    padding:12px 15px;
  }
  tbody tr{
    border-bottom: 1px solid #f4709a;
  }
  ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    li{
      display: block;
      background-color: #f0a5c1;
      border-radius: 10px;
      margin: 5px;
      padding: 5px;
    }
  }
}
