@import (less) url('../styles.less');
.navbar{
    display:flex;
    position: relative;
    background: @color-balance;
    justify-content: space-between;
    font-family: Roboto, serif;
    font-size: 1.3rem;
    align-items: center;
    max-height: 25%;
    width: 100%;
    .logo{
      margin:auto 2vh;
      width: 5vh;
      height: 5vh;
      img{
        height: 100%;
      }
    }
  .burger{
    visibility: hidden;
  }
  .menu{
        display: flex;
        position: relative;
        align-items: center;
        margin: auto 2vh;
        list-style: none;
        li{
            position: relative;
            margin: 0 1vh;
            display: block;
            a:hover{
                color:@color-light;
            }
        }
    }
}
@media screen and (max-width: 620px) {
  .navbar{
    .logo{
      margin:auto 2vh;

      img{
        height: 100%;
      }
    }
    .burger{
      visibility: visible;
      color: @color-light;
      margin-right: 5vw;
    }
    .menu{
      display: none;
    }

    .burger-menu{
      display: flex;
      align-items: center;
      list-style: none;
      z-index: 1000;
      background:@color-standart;
      top:100%;
      width: 90%;
      flex-direction: column;
      position: relative;
      margin: 0;
      padding: 1vh;
      border-left: @color-dark 1px solid;
      li{
        position: relative;
        margin: 0 1vh;
        display: block;
        a:hover{
          color:@color-light;
        }
      }
    }
  }
}
