<div class="backdrop"></div>
<div class="modal">
  <form [formGroup]="addForm" (submit)="addNewIncident()">
    <div class="wrapper">
      <label for="name">Name</label>
      <input type="text" placeholder="Name" formControlName="name" id ='name'>
    </div>

    <div class="wrapper">
    <label for="assignee">Assignee</label>
    <select id="assignee"  formControlName="assignee">
      <option *ngFor="let user of users$ | async" [value]="user.name">{{user.name}}</option>
    </select>
    </div>

    <div class="wrapper">
    <label for="area">Area</label>
    <select id="area"  formControlName="area" >
      <option>Sales department</option>
      <option>It department</option>
      <option>Cooking department</option>
      <option>Accounting department</option>
    </select>
    </div>

    <div class="wrapper">
    <label for="nowDate">Now Date</label>
    <div id = 'nowDate'>{{nowDate | date:'dd.MM.yyyy'}}</div>
    </div>

    <div class="wrapper">
    <label for="dueDate">Due Date</label>
    <input type="date"  formControlName="dueDate" id="dueDate">
    </div>

    <div class="wrapper">
    <label for="description">Description</label>
    <input type="text" placeholder="Description" formControlName="description" id="description">
    </div>

    <div class="wrapper">
    <label for="priority">Priority</label>
    <select id="priority"  formControlName="priority" >
      <option>Blocker</option>
      <option>Critical</option>
      <option>Major</option>
      <option>Normal</option>
      <option>Minor</option>
    </select>
    </div>

    <div class="wrapper wrap-btn">
    <button class="btn" type = "submit" [disabled]="addForm.invalid">Create</button>
    <button class="btn" (click)="closeEvent.emit()">Exit</button>
    </div>
  </form>
</div>
