
<div class = "top-bar">
  <button (click)="modal = true" class = "btn"><img src="../assets/images/plus-black-symbol.png" alt="" style="width: 1rem; height: 1rem"></button>
</div>
<div class = "content">
  <div class="wrap-process">
    <div class="card-process" *ngFor="let proc of processes$ | async">
      <div class="front-process">
        <div class="wrap-name">{{proc.name}}</div>
        <div class="wrap-color" [ngStyle]="{background: proc.color}"></div>
        <div class="wrap-transition" *ngIf="proc.transition.length > 0, ">Transition:
          <div>{{proc.transition}}</div>
        </div>
      </div>
      <div class="back-process">
        <button class="btn" (click)="editProcess(proc);modalEdit = true "><img src="../assets/images/pencil-edit-button.png" alt="" style="width: 1rem; height: 1rem"></button>
        <button class="btn" (click)="deleteProcess(proc)"><img src="../assets/images/minus-big-symbol.png" alt="" style="width: 1rem; height: 1rem"></button>
      </div>
    </div>
  </div>
</div>
<app-process-add *ngIf="modal" (closeEvent)="modal = false"></app-process-add>
<app-process-edit *ngIf="modalEdit" (closeEvent)="modalEdit = false" (process)="editProcess($event)"></app-process-edit>
