<form [formGroup]="userRegForm" (submit)="RegUsers()">
  <input type="text" placeholder="email" formControlName="email">
  <input type="text" placeholder="password" formControlName="password">
  <input type="text" placeholder="name" formControlName="name">
  <input type="date" placeholder="DOB" formControlName="DOB">
  <input type="text" placeholder="position" formControlName="position">
  <button type = "submit" [disabled]="userRegForm.invalid">SignUp</button>
  <button>Close</button>
</form>

