<form [formGroup]="userRegForm" (submit)="RegUsers()">
  <div class="wrapper">
    <label for="email">Email</label>
    <input id="email" type="text"  formControlName="email">
  </div>
  <div class="wrapper">
    <label for="password">Password</label>
    <input id="password" type="text" formControlName="password">
  </div>
  <div class="wrapper">
    <label for="name">Name</label>
    <input id="name" type="text"  formControlName="name">
  </div>
  <div class="wrapper">
    <label for="DOB">Date of birthday</label>
    <input id="DOB" type="date"  formControlName="DOB">
  </div>
  <div class="wrapper">
    <label for="position">Position</label>
    <input id="position" type="text"  formControlName="position">
  </div>
  <div class="btn-wrap">
    <button class ="btn" type = "submit" [disabled]="userRegForm.invalid">SignUp</button>
  </div>

</form>

