
@import (css) url(https://fonts.googleapis.com/css?family=Roboto);
@import (css)url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');

@color-balance: #b14359;
@color-dark: #5e0943;
@color-light: #ebe6d9;
@color-medium:#f4709a ;
@color-standart: #f0a5c1;


body{
    margin: 0;
    font-family: Pacifico;
    font-size: 2vh;
    color: black;
    a{
        cursor: pointer;
        color: black;
        text-decoration: none;
    }
}
.content-table{
  border-collapse: collapse;
  margin: 25px 0px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 0.9em;
  min-width: 400px;
  width: calc(100% - 50px);
  overflow: hidden;
  border-radius: 10px;
  thead tr{
    background-color: #b14359;
    color: aliceblue;
    text-align: left;
    font-weight: bold;
  }
  th, td{
    padding:12px 15px;
  }
  tbody tr{
    border-bottom: 1px solid #f4709a;
  }
  ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    li{
      display: block;
      background-color: #f0a5c1;
      border-radius: 10px;
      margin: 5px;
      padding: 5px;
    }
  }
}
.btn{
    display: inline-block;
    background: var(--light-color);
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    background: #5e0943;
    color: #ebe6d9;
    border-radius: 25px;
    &:disabled {
      cursor: not-allowed;
      background: var(--light-color);
      color: #111;
    }
}
