<form [formGroup]="editForm" (submit)="editIncident()">
  <p>{{incident.id}}</p>
  <p>{{incident.name}}</p>
  <input type = "text" formControlName="assignee">

  <p>{{incident.area}}</p>
  <p>{{incident.startDate | date:'dd/MM/yyyy'}}</p>
  <input type="date" formControlName="dueDate">
  <input type="color" formControlName="icon">
  <input type = "text" formControlName="description">
  <select formControlName="status">
    <option *ngFor="let rul of curentRul" [value]="rul">{{rul}}</option>
  </select>
  <p>{{incident.status}}</p>
  <button class="btn" type="submit">Edit</button>
</form>
