<form [formGroup]="editForm" (submit)="editIncident()">
  <p>{{incident.id}}</p>
  <p>{{incident.name}}</p>
  <p>{{incident.assignee}}</p>
  <select  formControlName="assignee">
    <option *ngFor="let user of users$ | async" [value]="user.name">{{user.name}}</option>
  </select>

  <p>{{incident.area}}</p>
  <p>{{incident.startDate | date:'dd/MM/yyyy'}}</p>
  <input type="date" formControlName="dueDate">
  <input type="color" formControlName="icon">
  <input type = "text" formControlName="description">
  <select formControlName="status"  *ngIf="curentRul.length != 0" >
    <option *ngFor="let rul of curentRul" [value]="rul">{{rul}}</option>
  </select>
  <p>{{incident.status}}</p>
  <p>{{incident.priority}}</p>
  <button class="btn" type="submit" [disabled]="editForm.invalid">Edit</button>
</form>
