<form [formGroup]="editForm" (submit)="editIncident()">

  <div class="wrapper">
  <label for="id">Id</label>
  <div id="id">{{incident.id}}</div>
  </div>

  <div class="wrapper">
  <label for="name">Name</label>
  <div id="name">{{incident.name}}</div>
  </div>

  <div class="wrapper">
  <label for="assignee">Assignee</label>
    <div class="secondWrapper">
  <div>{{incident.assignee}}</div>
  <select id="assignee"  formControlName="assignee">
    <option *ngFor="let user of users$ | async" [value]="user.name">{{user.name}}</option>
  </select>
    </div>
  </div>

  <div class="wrapper">
  <label for="area">Area</label>
  <div id="area">{{incident.area}}</div>
  </div>

  <div class="wrapper">
  <label for="startDate">Start Date</label>
  <div id="startDate">{{incident.startDate | date:'dd/MM/yyyy'}}</div>
  </div>

  <div class="wrapper">
  <label for="dueDate">Due Date</label>
    <div class="secondWrapper">
      <div>{{incident.dueDate| date: 'dd-MM-yyyy'}}</div>
      <input id="dueDate" type="date" formControlName="dueDate" >
    </div>

  </div>


  <div class="wrapper">
  <label for="description">Description</label>
  <input id="description" type = "text" formControlName="description">
  </div>

  <div class="wrapper">
  <label for="status">Status</label>
    <div class="secondWrapper">
  <div>{{incident.status}}</div>
  <select id="status" formControlName="status" >
    <option *ngFor="let rul of currentRul" [value]="rul">{{rul}}</option>
  </select>
    </div>
  </div>


  <div class="wrapper">
  <label for="priority">Priority</label>
  <div id="priority">{{incident.priority}}</div>
  </div>


  <div class=" btn-wrap">
  <button class="btn" type="submit" [disabled]="editForm.invalid">Edit</button>
  </div>
</form>

